@{
    ViewData["Title"] = "Página inicial";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

    <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
            <div class="item">
                <div class="slider-img"><img src="assets/images/slider/slider1.jpeg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title"> É hora de uma ajuda melhor.</h1>
                                <!-- <p class="slider-text hidden-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, provident. Provident voluptate ducimus</p> -->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="assets/images/slider/slider2.jpeg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions ">
                                <h1 class="slider-title">Ajude uma criança hoje</h1>
                                <!-- <p class="slider-text hidden-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, provident. Provident voluptate ducimus</p> -->
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="assets/images/slider/slider-3.jpg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="animated bounceInDown slider-captions">
                                    <h1 class="slider-title">Nós nos importamos com a educação</h1>
                                    <!-- <p class="slider-text hidden-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, provident. Provident voluptate ducimus</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- ******************** About US Starts Here ******************* -->

    <div class="about-us">
        <div class="container">
            <div class="session-title">
                <h2>Sobre o Voluntariado IPIL</h2>
            </div>
            <div class="about-row row">
                <div class="col-md-8">
                    <div class="abut-detail">
                         <h4>Sobre o IPIL</h4>
                        <p> Bem-vindo ao nosso site de voluntariado! Somos uma organização dedicada a fazer a diferença em nossa comunidade.Oferecemos diversas oportunidades de voluntariado em áreas de formação e outros serviços da instuição!Temos as seguintes áreas de formação: Informática, Química, Electricidade, Construção Civil e Mecânica.Foi criado este site para toda gente inscrever-se, caso esteja capacitada vai ajudar a instuição, e a publicação dos sectores da instituição que estiverem a necessitar de volutários.
                         </p>
                    </div>
                
                </div>
                <div class="col-md-4">
                    <img src="assets/images/IPIL.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

     <!-- ******************** Services Starts Here ******************* -->
    
     <section class="services container-fluid">
         <div class="container">
            <div class="session-title">
                <!-- <p>Ajude-nos a alcançar nosso objetivo</p> -->
                <h2>Encontre  Oportunidades De Voluntariado</h2>
            </div>
            <div class="service-row row">
                <div class="col-md-4">
                    <div class="servic-col">
                        <div class="servic-round">
                           <p>Secretária</p> 
                        </div>
                        <!-- <h4>Torne-se um doador</h4> -->
                        <p>Os tipos de trabalhos voluntários que temos na secretaria são: atendimento ao público, suporte administrativo, gestão de agenda e suporte tecnológico </p>
                    </div>
                </div>

                 <div class="col-md-4">
                        <div class="servic-col">
                            <div class="servic-round">
                                <p>Coordenações</p> 
                            </div>
                            <!-- <h4>Torna-se um voluntário</h4> -->
                            <p>Os tipos de trabalhos voluntários que as coordenações apresentam são: Tutoria Acadêmica, Mentoria Estudantil, Clubes e Grupos de Estudo e muito mais...</p>
                        </div>
                </div>

                 <div class="col-md-4">
                    <div class="servic-col">
                        <div class="servic-round">
                            <p>Associação</p> 
                        </div>
                        <!-- <h4>Ajuda quem precisa</h4> -->
                        <p>Os tipos de trabalhos voluntários que à associação apresenta são: Programas de Tutoria, Clubes e Atividades Extracurriculares, Eventos de Arrecadação de Fundos, Comitês de Eventos Escolares e muito mais...</p>
                    </div>
                </div>
            </div>
         </div>
     </section>



     <!-- ******************** Services Starts Here ******************* -->
     

     <section class="container-fluid causes">
        <div class="container">
            <div class="session-title row">
            <h2>Oportunidades Recentes</h2>
        </div>
        <div class="events-row row">
            <div class="col-md-4">
                <div class="causen-ccover">
                    
                
                    <div class="caus-img">
                        <img src="assets/images/causes/secretaria.jpg" alt="">
                    </div>
                    <div class="caus-info row no-margin">
                        <span class="left-info col-6">
                        </span>
                        <span class="rit-info text-right col-6">
                        </span>
                    </div>
                    <div class="caus-detail"> <br>
                        <h4>Oportunidades de Voluntariado &emsp;&emsp;&emsp; na secretaria</h4>
                    
                    </div>
                
    

                </div>

            </div>

            <div class="col-md-4">
                <div class="causen-ccover">
                    
                
                    <div class="caus-img">
                        <img src="assets/images/causes/cordenacao.jpg" alt="">
                    </div>
                    <div class="caus-info row no-margin">
                        <span class="left-info col-6">
                        </span>
                        <span class="rit-info text-right col-6">
                        </span>
                    </div>
                    <div class="caus-detail"> <br>
                        <h4>Oportunidades de Voluntariado &emsp;&emsp;&emsp; nas coordenações</h4>
                    </div>
                    
 

                 </div>

            </div>

            <div class="col-md-4">
                <div class="causen-ccover">
                    
                
                <div class="caus-img">
                    <img src="assets/images/causes/associacao.jpg" alt="">
                    </div>
                    <div class="caus-info row no-margin">
                        <span class="left-info col-6">
                        </span>
                        <span class="rit-info text-right col-6">
                        </span>
                    </div>
                    <div class="caus-detail"> <br>
                        <h4>Oportunidades de Voluntariado &emsp;&emsp;&emsp; na associação</h4>
                    </div>
                
       
                </div>

            </div>
        </div>
        </div>
     </section> 


    <!-- ******************** Upcomming Events Starts Here ******************* --> 

    <section class="upcomming container-flid">
        <div class="container">
            <div class="session-title row">
                <h2>Notícias</h2>
            </div>
            <div class="events-row row">
                <div class="col-md-4">
                    <div class="event-card">
                        <img src="assets/images/event/70anos.jpg" alt="">
                        <div class="event-detail">
                            <h6>Makarenco: os 70 anos de um politécnico referência na formação média em Engenharia</h6>
                            <p>O antigo Makarenko, avançou, conta, actualmente, com 47 salas de aula, com uma capacidade de albergar anualmente 5 .078 estudantes, com 300 docentes, 29 laboratórios e 11 oficinas, em três turnos diários de manhã, tarde e noite.

                                Além do curso básico para os alunos da 6ª, 7ª e 8ª classes, a instituição alberga, também, estudantes da 10ª, 11ª, 12ª e 13ª classes (médios), explicou o director da instituição.
                                
                                No IPIL, esclareceu, são ministrados 19 cursos, com destaque para o de Desenhador Projectista, Técnico de Obras de Construção Civil, Electrónica Industrial e Automação, Electrónica e Telecomunicações, Energia e Instalações Eléctricas Mecatrónica.
                                
                                Além destes cursos, a instituição forma, também, técnicos de Informática, Gestão de Sistemas Informáticos, Frio e Climatização, Manutenção Industrial, Máquinas e Motores, Metalomecânica, Ambiente e Controlo da Qualidade, Química Industrial, Petroquímica, Energias Renováveis, Bioquímica, Técnicas de Laboratório e Electro-Mecânica.</p>
                                <br>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="event-card">
                        <img src="assets/images/event/seminário.jpg" alt="">
                        <div class="event-detail">
                            <h6>Seminário de capacitação no IPIL(Makarenco)</h6>
                            <p> Os professores do Instituto Politécnico Industrial de Luanda (IPIL) estão a participar de um seminário de capacitação, iniciado na segunda-feira, com término marcado para amanhã, às 12h00, informou, ontem, o director da instituição.

                                Milton Silva adiantou que a jornada pedagógica para os docentes está a ser realizada no quadro do Calendário Nacional do Sub-Sistema de Ensino Secundário Técnico Profissional para o ano lectivo 2023/24. O seminário, disse, está a ser orientado pelo docente Manuel Felguias.

                                Para o ano lectivo, que é aberto oficialmente hoje no país, Milton Silva avançou que o IPIL vai contar com 300 professores, divididos entre os períodos da manhã, tarde e noite (pós-laboral), para ensinarem um total de 5.078 alunos.
                                
                                As listas dos alunos e os horários das turmas, destacou, são afixadas hoje. O início das aulas acontece na próxima segunda-feira, dia 4 de Setembro. Este ano, contou, os cursos mais solicitados pelos candidatos são os de Informática, Telecomunicações, Petroquímica, Mecatrónica e Electro-mecânica.</p>
                                <br>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="event-card">
                        <img src="assets/images/event/Carro.jpg" alt="">
                        <div class="event-detail">
                            <h6>Estudantes montam carro capaz de andar a 110 km/h</h6>
                            <p>Ainda sobre o segundo dia da comemoração dos 70 Anos do Instituto Politécnico Industrial de Luanda : Estudantes montam carro capaz de andar a 110 km/hora
                                Uma equipa de sete estudantes criou um veículo feito inteiramente de materiais reciclados e lixo doméstico. O carro de quatro lugares tem uma velocidade máxima de 110 quilómetros por hora e pode viajar até 220 quilómetros com o depósito cheio.
                                O veículo de nome “JK” foi criado por Joaquim Kwando, Lote Noé, Francisco Manuel, Noé Evaristo, Tomás Pereira, Joel Aragão e Francisco Latino, estudantes dos cursos de Maquinas e Motores, Metalomecânica e Electrónica e Telecomunicações da 10.ª e 12.ª 
                                do Instituto Politécnico Industrial de Luanda (IPIL) e da escola 5019 Madre Maria Luísa, como um projecto inovador apresentado durante a feira alusiva aos 70 anos de existência do Makarenko. Com isso irá motivar muito mais ainda os outros estudantes do mesmo curso</p> <br> <br> <br> 

               
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>


       <!-- ******************** We are Making Starts Here ******************* --> 
       
    <div class="we-are-making container-fluid">
        <div class="row">
            <div class="col-lg-6 imag-part">
                <img src="assets/images/count.jpg" alt="">
            </div>
            <div class="col-lg-6 text-part">
                <h3>Estatística</h3>
                <p>Resumo A taxa de voluntariado em 2018 foi de 7,8%, tendo cerca de 695 mil pessoas da população residente com 15 ou mais anos participado em, pelo menos, uma atividade formal e/ou informal de trabalho voluntário. A taxa de voluntariado feminina foi superior à masculina (8,1% vs. 7,6%). O escalão etário predominante foi o dos 15-24 anos (11,3%).</p>
                <div class="row count">
                    <div class="col-md-4">
                        <div class="count-sing">
                             <i class="fas fa-users"></i>
                            <h2>+ </h2>
                            <b>Voluntários</b>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="count-sing">
                             <i class="fa fa-handshake"></i>
                            <h2>+ </h2>
                            <b>Oportunidades</b>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="count-sing">
                            <i class="fa fa-eye"></i>
                            <h2>+ </h2>
                            <b>Visitas</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
